#chats-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100%;
    border: 1px solid #e0e0e0;
}

#session_item {
    width: 90%
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}