#base_info_modal_button {
    position: fixed;
    right: 15%;
    top: 1%;
}

#line_break {
    position: fixed;
    left: 50%;
    top: 0;
    border: 1px solid #e0e0e0;
    width: 0px;
    height: 100%;
}
