@import "tailwindcss";

body {
  background-color: #f6f8fa;
}

.hero-scroll::-webkit-scrollbar {
  width: 8px;
}
.hero-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(248, 250, 252, 0.6);
  border-radius: 4px;
}